<div id="top-alert"></div>
<div id="page-content">
	<div class="lfloat mlm mtl">
		<div>			
			{{pointName}}: {{points}}
		</div>
		<div>
			{{pointName}} per second: {{pps}}
		</div>
		<div>
			Click level : {{clickLvl}}</br>
			Click value : {{clickValue}}
		</div>
		<div>				
			<button type="button" id="increment" class="btn btn-default" ng-click="incrementPoint(clickValue)">Get {{pointName}}</button>
			<button type="button" id="upgrade-increment" class="btn btn-succes" ng-click="upClick()" ng-disabled="points < clickUpNextCost">Upgrade click : {{clickUpNextCost}}</button>
		</div>
		<div>
			<button type="button" id="save" class="btn btn-success" ng-click="save()">SAVE GAME</button>
			<button type="button" id="load" class="btn btn-success" ng-click="load()">LOAD GAME</button>
		</div>
	</div>
	<div class="rfloat mrm mtl">
		<div class="upgrades">
			<div class="cursors-upgrades">
				<button type="button" id="buy-cursor" class="btn btn-primary" ng-click="buyCursor()" ng-disabled="points < cursorNextCost">Buy 1 cursor: {{cursorNextCost}}</button>
				<button type="button" id="up-cursor" class="btn btn-warning" ng-click="upCursors()" ng-disabled="points < cursorUpNextCost">Upgrade cursor: {{cursorUpNextCost}}</button>
				<div>
					<div class="cursor-number mtm">{{cursors}} cursors owned.</div>
					<div class="cursor-number">Cursor level: {{cursorUpLvl}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="controllers/incremental.js"></script>