<div class="modal" role="dialog" ng-show="playVideo != false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="stop()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{playVideo.snippet.title}}</h4>
			</div>
			<div class="modal-body">
				<iframe width="860" height="484" src="{{playVideoUrl}}" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="stop()">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="page-content" class="navbar-text mlm">
	<legend>Search video</legend>
	<select name="items" class="select-items" ng-model="data.selectedOption" ng-options="option.name for option in data.availableOptions track by option.value"></select>
	<input id="search-bar-content" type="text" ng-keydown="handleKey($event)" ng-model="search.input">
	<button id="search-button" class="btn btn-primary" ng-click="search()">Search</button></br>
	<div id="search-results" ng-show="search.results > 0"><strong>Total results:</strong> {{search.results}}</div>
	<div id="search-video-result" ng-show="search.results > 0">
		<div ng-if="search.resultChannels.length > 0">
			<div class="category-title"><u>Channels :</u></div>
			<div class="result-channel" ng-repeat="channel in search.resultChannels">
				<div class='title'><strong>{{channel.snippet.title}}</strong></div>
				<img class="channelImg" id="channel{{channel.id.channelId}}" src="{{channel.snippet.thumbnails.default.url}}" ng-click="goToChannel(channel.id.channelId)" />
			</div>
		</div>
		<div ng-if="search.resultVideos.length > 0">
			<div class="category-title"><u>Videos :</u></div>
			<div class="result-video" ng-repeat="video in search.resultVideos">
				<div class='title'><strong>{{video.snippet.title}}</strong></div>
				<img class="videoImg" id="{{video.id.videoId}}" src="{{video.snippet.thumbnails.medium.url}}" ng-click="play($index)" />
				<div ng-click="search.resultVideos.splice($index, 1)"><strong>REMOVE</strong></div>
			</div>
		</div>
	</div>	
</div>