<div id="page-content" class="navbar-text mlm">
	<legend>Search video</legend>
	<select name="items" class="select-items" ng-model="data.selectedOption" ng-options="option.name for option in data.availableOptions track by option.value"></select>
	<input id="search-bar-content" type="text" ng-keydown="handleKey($event)" ng-model="search.input">
	<button id="search-button" class="btn btn-primary" ng-click="search()">Search</button></br>
	<p id="search-results" hidden>
	</p>
	<div id="search-video-result" hidden>
		
	</div>
</div>