#page-content {
	position: relative;
}

#search-bar-content {
	margin-top: 10px;
}

#search-video-result { 
	margin-top: 50px;
}

.select-items {
	margin-top: 10px;
	width: 60px;
}

.result-video{
    display: inline-block;
    margin: 20px 40px 10px 40px;
    width: 320px;
    line-height: normal;
}

.category-title {
	font-size: 28px;
	font-style: underline;
}

.result-channel {
	display: inline-block;
	margin: 20px 40px 10px 40px;
    width: 160px;
    line-height: normal;
}

.channelImg {
	width: 160px;
	cursor: pointer;
}

.videoImg {
	width: 320px;
	cursor: pointer;
}

.modal {
	display: block;
}

.modal-dialog {
	width: 890px;
}