#page-content {
	position: relative;
}

#search-bar-content {
	margin-top: 10px;
}

.select-items {
	margin-top: 10px;
	width: 60px;
	position: absolute;
}

.result-item{
    display: inline-block;
    margin: 20px 40px 10px 40px;
    width: 320px;
    line-height: normal;
}
